body{
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: limegreen;
  font-size: 1.5rem;
}